@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
  }
}

.prose {
  @apply text-white/80;
}

.prose strong {
  @apply text-indigo-400 font-bold;
}

.prose code {
  @apply bg-white/10 px-1 rounded text-indigo-300;
}
